<%- include('../partials/header') %>
<div id="divUsers">
<h2>Account Login</h2>
<h4>Logging in grants you access to finding churches</h4>
<form action="/auth/login" method="post">
    <input type="text" id="login_username" name="username" placeholder="Username" required><br>
    <input type="password" id="login_password" name="password" placeholder="Password" required><br>
    <input type="submit" value="LOGIN" id="login_submit"> <input type="reset" value="RESET" id="login_reset">
</form>
</div>
<%- include('../partials/footer') %>