<%- include('../partials/header') %>
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if(user) { %>
            <li role="presentation"><a href="/">Find Churches</a></li>
            <li role="presentation" class="active"><a href="/users">Profile</a></li>
            <li role="presentation"><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/auth/register">Register</a></li>
            <li role="presentation" class="active"><a href="/auth/login">Login</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">Good News</h3>
        <small id="slogan" class="text-muted">The gospel of good news is a person: Jesus of Nazareth.</small>
      </div>
      <div id="inside">
        <div id="center">
<h2 class="page-header">Account Login</h2>
<p><%- messages('message', locals) %></p>
<form action="/auth/login" method="post">
    <div class="form-group">
        <label class="sr-only">Username</label>
    <input type="text" class="form-control" name="username" title="Username" placeholder="Username" required>
        </div>
    <div class="form-group">
        <label class="sr-only">Password</label>
    <input type="password" class="form-control" name="password" title="Password" placeholder="Password" required>
        </div>
        <p>Don't have an account? <a href="/auth/register">Register Now</a></p>
    <input type="submit" value="LOGIN"> <input type="reset" value="RESET">
</form>
      </div>
    </div>
<%- include('../partials/footer') %>