<%- include('../partials/header') %>
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if(user) { %>
            <li role="presentation"><a href="/">Find churches</a></li>
            <li role="presentation" class="active"><a href="/users">Profile</a></li>
            <li role="presentation"><a href="/auth/logout">Logout</a></li>
            <% } else { %>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation" class="active"><a href="/auth/register">Register</a></li>
            <li role="presentation"><a href="/auth/login">Login</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">Good News</h3>
        <small id="slogan" class="text-muted">The gospel of good news is a person: Jesus of Nazareth.</small>
      </div>
      <div id="inside">
        <div id="center">
<h1>Account Registration</h1>
<p><%- messages('message', locals) %></p>
<ul>
    <% if(errors){ %>
        <p>There are errors on the page, please fix to continue:</p>
        <% for(const error of errors){ %>
            <li id="errors"><%= error.msg %></li>
        <% } %>
    <% } %>
</ul>
<p>Please take some time to register</p>
<p>A profile gives you access to finding churches near you. Registering only takes a few minutes!</p>
<form method='POST' action='/auth/register'>
    <div class="form-group">
        <label class="sr-only">Username</label>
            <input type="text" class="form-control" name="username" title="Username" placeholder="Username">
        </div>
    <div class="form-group">
        <label class="sr-only">First Name</label>
    <input type="text" class="form-control" name="firstname" title="First Name" placeholder="First Name">
        </div>
    <div class="form-group">
        <label class="sr-only">Last Name</label>
    <input type="text" class="form-control" name="lastname" title="Last Name" placeholder="Last Name">
        </div>
    <div class="form-group">
        <label class="sr-only">Email</label>
    <input type="email" class="form-control" name="email" title="Email" placeholder="E Mail">
        </div>
    <div class="form-group">
        <label class="sr-only">Password</label>
    <input type="password" class="form-control" name="password" title="Password" placeholder="Password">
        </div>
    <div class="form-group">
        <label class="sr-only">Confirm Password</label>
    <input type="password" class="form-control" name="password2" title="Confirm Password" placeholder="Confirm Password">
        </div>
    <div class="form-group">
        <label class="sr-only">Phone Number</label>
    <input type="text" class="form-control" name="phonenumber" title="Phone Number" placeholder="Phone Number (no symbols)">
        </div>
    <div class="form-group">
        <label class="sr-only">Street</label>
    <input type="text" class="form-control" name="street" title="Street" placeholder="Street">
        </div>
    <div class="form-group">
        <label class="sr-only">City</label>
    <input type="text" class="form-control" name="city" title="City" placeholder="City">
        </div>
    <div class="form-group">
        <label class="sr-only">State</label>
    <input type="text" class="form-control" name="state" title="State" placeholder="State">
        </div>
    <div class="form-group">
        <label class="sr-only">Zip</label>
    <input type="text" class="form-control" name="zipcode" title="Zip Code" placeholder="Zip Code">
        </div>
    <div class="form-group">
        <label class="sr-only">Country</label>
    <input type="text" class="form-control" name="country" title="Country" placeholder="Country">
        </div>
        <p>Already have an account? <a href="/auth/login">Log In</a></p>
<input type="submit" value="REGISTER"> <input type="reset" value="RESET">
</form>
      </div>
    </div>
<%- include('../partials/footer') %>