<br>
<ul id="churches">
<% data.forEach(function(d) { %>
    <% if(!d.profile) { %>
    <li class="displayChurches"><%= d.name %> <small>located at</small> <%= d.address %><span class="save" id="<%= d.id %>">SAVE</span><span class="delete" id="<%= d.id %>">DELETE</span></li>
    <% } %>
<% }) %>
</ul>
Save churches to your profile, to review them and/or get more information.