<%- include('partials/header') %>
<h1>Welcome <% if(user) { %> back <%= user.username %>! <% } else { %> to ChurchFindr <% } %></h1>
        <% if(user) { %>
<div id="wrapper">
      <div id="container">
        <form method="POST">
          <input type="text" id="main_search" name="city" placeholder="Insert a city or zip code" required>
      <div id="error_msg"><span id="error_msg_span"></span></div>
      <div id="button_div">
          <input type="submit" id="submit" name="submit" value="find churches nearby">
          </form>
      </div>
          <div id="places">
            <% if(data != 0) { %>
              <%- include('partials/churches') %>
            <% } %>
          </div>
      </div>
    </div>
    <% } else { %>
    <p>How to get started:
  <ol>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="">Find a church near you!</a></li>
  </ol>
</p>
        <% } %>
            <script src="/javascripts/main.js"></script>
<%- include('partials/footer') %>