<%- include('partials/header') %>
<h2 id="mainh2"><% if(user) { %> Hey <%= user.firstname %>, enter a zip code or city below to find churches nearby. <% } else { %> <span class="welcome">Welcome to ChurchFindr</span> <% } %></h2>
        <% if(user) { %>
<div id="wrapper">
      <div id="container">
        <form method="POST">
          <input type="text" id="main_search" name="city" placeholder="" required>
      <div id="error_msg"><span id="error_msg_span"></span></div>
      <div id="button_div">
          <input type="submit" id="submit" name="submit" value="search">
          </form>
      </div>
          <div id="places">
            <% if(data != 0) { %>
              <%- include('partials/churches') %>
            <% } %>
          </div>
      </div>
    </div>
    <% } else { %>
    <p class="started">5 easy steps to Get Started!
  <ol class="started">
    <li><a href="/auth/register">Register an account.</a></li>
    <li><a href="/auth/login">From there, log into your new profile.</a></li>
    <li><a href="/">Navigate to "Find a Church" to search for a church.</a></li>
    <li>Once you find churches you can delete from your history or save to your profile.</li>
    <li>Lastly, you can review churches that were saved to your profile.</li>
  </ol>
</p>
        <% } %>
<script src="/javascripts/main.js"></script>
<%- include('partials/footer') %>