<%- include('partials/header') %>
<h2 id="mainh2"><% if(user) { %> Hey <%= user.firstname %>, enter a zip code or city below to find churches nearby. <% } else { %>Welcome to ChurchFindr. <% } %></h2>
        <% if(user) { %>
<div id="wrapper">
      <div id="container">
        <form method="POST">
          <input type="text" id="main_search" name="city" placeholder="" required>
      <div id="error_msg"><span id="error_msg_span"></span></div>
      <div id="button_div">
          <input type="submit" id="submit" name="submit" value="search">
          </form>
      </div>
          <div id="places">
            <% if(data != 0) { %>
              <%- include('partials/churches') %>
            <% } %>
          </div>
      </div>
    </div>
    <% } else { %>
    <p>HOW TO GET STARTED:
  <ol>
    <li><a href="/auth/register">MAKE A PROFILE</a></li>
    <li><a href="/auth/login">THEN LOG INTO YOUR PROFILE</a></li>
    <li><a href="">USE OUR APPLICATION TO FIND A CHURCH NEAR YOU!</a></li>
    <li>SAVE VISITED CHURCHES TO YOUR PROFILE</li>
    <li>HAD A GOOD TIME? LEAVE A REVIEW FOR THAT CHURCH</li>
  </ol>
</p>
        <% } %>
<script src="/javascripts/main.js"></script>
<%- include('partials/footer') %>