<%- include('partials/header') %>
<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if(user) { %>
            <li role="presentation"><a href="/">Find A Church</a></li>
            <li role="presentation"><a href="/users">My Profile</a></li>
            <li role="presentation" class="active"><a href="/auth/logout">Log Out</a></li>
            <% } else { %>
            <li role="presentation"><a href="/">Home</a></li>
            <li role="presentation"><a href="/auth/register">Register</a></li>
            <li role="presentation" class="active"><a href="/auth/login">Log In</a></li>
            <% } %>
          </ul>
        </nav>
        <h3 class="text-muted">Good News</h3>
        <small id="slogan" class="text-muted">The gospel of good news is a person: Jesus of Nazareth.</small>
      </div>
<h2>You are now logged out. Please come back soon.</h2>
<%- include('partials/footer') %>