body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family: 'Open Sans', sans-serif;
}

#banner {
  width: 100%;
}

/*
* HOW TO GET STARTED
*/
ol li {
  margin: 5px;
}

ol li a:link, a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
}

ol li a:hover {
  text-decoration: underline;
}

ol li a:active {
  text-decoration: none;
}

/*
NAV STYLING
*/

#nav {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

#nav li {
  display: inline;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
}

#nav a:link, a:visited {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#nav a:hover {
  text-decoration: underline;
}

#nav a:active {
  text-decoration: none;
}

/*
ERRORS ON REGISTER/LOGIN FORMS
*/
#errors {
  color: black;
  font-size: 14px;
}

#errors li {
  list-style-type: none; 
  padding: 5px; margin: 5px;
  display: block;
  width: 300px;
  border: 1px solid red;
  background-color: #ffa5a5;
}

#errors li:hover {
  background-color: #ff4747;
}

/*
* LOGIN FORM
*/

#login_username,
#login_password {
  width: 400px;
  height: 50px;
  font-size: 30px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#login_submit,
#login_reset {
  width: 120px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  text-decoration: none;
}

#login_submit:hover {
  background-color: #555555;
  color: white;  
}

#login_reset:hover {
  background-color: #555555;
  color: white;  
}

/*
* REGISTRATION FORM
*/

#register_username,
#register_firstname,
#register_lastname,
#register_email,
#register_password,
#register_street,
#register_zip,
#register_city,
#register_state,
#register_country {
  width: 600px;
  height: 50px;
  font-size: 30px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#register_submit,
#register_reset {
  width: 150px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  text-decoration: none;
}

#register_submit:hover {
  background-color: #555555;
  color: white;  
}

#register_reset:hover {
  background-color: #555555;
  color: white;  
}

/*
* SEARCH AND STUFF
*/

#wrapper {
  margin: 0 auto;
  width: 1200px;
}

#container {
  text-align: center;
}

#places {
  width: 1000px; height: 400px;
  margin: 0 auto;
}

#places ul li {
  margin-left: -30px;
}

#container input[type=text] {
  width: 700px;
  height: 70px;
  font-size: 40px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#button_div input[type=submit] {
  width: 300px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
  text-decoration: none;
  margin-top: 2px;
}

#button_div input[type=submit]:hover {
  background-color: #555555;
  color: white;  
}

#container input:focus {
  background-color: #dfdfdf;
}

#button_div {
  margin-bottom: 2px;
}

.displayAddresses {
  list-style-type: none; 
  padding: 5px; margin: 5px;
  display: block;
  width: 100%;
  border: 1px solid blue;
  background-color: #8379ff;
  text-align: left;
}

.displayAddresses:hover {
  background-color: #5231ff;
  color: white;
}

.delete {
  float: right;
  font-size: 12px;
}

.save,
.review {
  float: right;
  font-size: 12px;
  margin-left: 5px;
}

.delete:hover {
  color: red;
  border-bottom: 1px solid red;
}

.review:hover {
  color: green;
  border-bottom: 1px solid green;
}

.save:hover {
  color: yellow;
  border-bottom: 1px solid yellow;
}

small {
  font-size: 13.5px;
}

.thisChurchIsSaved {
  color: black;
  list-style-type: none; 
  padding: 5px; margin: 5px;
  display: block;
  width: 100%;
  border: 1px solid #e7e700;
  background-color: #fffb97;
  text-align: left;
}

.thisChurchIsSaved:hover {
  background-color: #e7e5bc;
  color: black;
}

a:link,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a:active {
    text-decoration: underline;
    color: black;
}

.review_text {
    color: green;
}

#mainh2 {
  text-align: center;
}

#divUsers,
#divErrors {
  text-align: center;
}

#registrationH1 {
  text-align: center;
}