/*body {
  font-family: 'Open Sans', sans-serif;
}*/

footer {
    margin-top: 50px;
}

#slogan {
    padding: 0;
    margin: 0;
}

.page-header {
    margin-top: 0;
}

.form-control {
    margin: 0 auto;
}

#inside {
    text-align:center;
    width: 100%;
    height: 100%;
}

#center {
    margin-left: auto;
    margin-right: auto;
}

/*
* SEARCH BAR AND STUFF
*/

#church_search {
  width: 700px;
  height: 70px;
  font-size: 40px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #337ab7;
}

#church_submit {
  width: 300px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #337ab7;
  border: 2px solid #337ab7;
  text-decoration: none;
  margin-top: 2px;
}

#church_submit:hover {
  background-color: #337ab7;
  color: white;  
}

/*
* LOGIN FORM
*/

#login_username,
#login_password {
  width: 400px;
  height: 50px;
  font-size: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
}

#login_submit,
#login_reset {
  width: 120px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #337ab7;
  border: 2px solid #337ab7;
  text-decoration: none;
}

#login_submit:hover {
  background-color: #337ab7;
  color: white;  
}

#login_reset:hover {
  background-color: #337ab7;
  color: white;  
}

/*
* REGISTRATION FORM
*/

#register_username,
#register_firstname,
#register_lastname,
#register_email,
#register_password,
#register_phonenumber,
#register_street,
#register_zip,
#register_city,
#register_state,
#register_country {
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: #337ab7;
}

#register_submit,
#register_reset {
  width: 150px; height: 40px;
  border: 0px;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #337ab7;
  border: 2px solid #337ab7;
  text-decoration: none;
}

#register_submit:hover {
  background-color: #337ab7;
  color: white;  
}

#register_reset:hover {
  background-color: #337ab7;
  color: white;  
}

/*
ERRORS ON REGISTER/LOGIN FORMS
*/

#errors {
  padding: 5px;
  display: block;
  width: 400px;
  border: 1px solid red;
  background-color: #ffa5a5;
  margin: 5px auto;
  text-align: left;
}

#errors:hover {
  background-color: #ff4747;
}

/*
* DISPLAY SAVED CHURCHES ON PROFILE PAGE
*/

#savedChurches {
    margin-left: -50px;
}

.thisChurchIsSaved {
  color: black;
  list-style-type: none; 
  padding: 5px; margin: 5px;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  text-align: center;
}

.thisChurchIsSaved:hover {
  background-color: #ebebeb;
}

#review_input {
  width: 500px;
  height: 50px;
  font-size: 20px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 5px;
  font-weight: lighter;
  letter-spacing: 2px;
  color: black;
}

/*
* DELETE/SAVE/SMS/REVIEW BUTTONS
*/

.hideme {
  visibility: hidden;
}

.save,
.review,
.sms,
.delete {
  font-size: 12.5px;
  text-align: center;
  margin-left: 15px;
  margin-top: 15px;
  display: inline-block;
}

.sms:hover,
.smsText:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.delete:hover {
  color: red;
  border-bottom: 1px solid red;
}

.review:hover {
  color: green;
  border-bottom: 1px solid green;
}

.save:hover {
  color: gold;
  border-bottom: 1px solid gold;
}

.review_text {
    color: green;
    font-size: 17px;
}

/*
* DISPLAY CHURCHES
*/

#churches {
    margin-left: -50px;
}

.displayChurches {
  color: black;
  list-style-type: none; 
  padding: 5px; margin: 5px;
  display: block;
  width: 100%;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  text-align: center;
}

.displayChurches:hover {
  background-color: #ebebeb;
}

.churchName {
  font-size: 15px;
  letter-spacing: 1.5px;
}

.churchAddress {
  display: inline-block;
}